.git
.gitignore
.gcloudignore

.env
.qodo
.vscode/

venv/
env/
.venv/
__pycache__/
*.pyc

django_instance/
instance/
static/uploads/

node_modules/
frontend/node_modules/
frontend/.next/
frontend/.vercel/
