.qodo
# Ignore Visual Studio Code settings
.vscode/

# Ignore Python cache files
__pycache__/

# Ignore virtual environment folder
venv/
.venv/
env/

# Ignore local env files
.env.local
.env*.local

/instance
/static/uploads

.DS_Store
