.qodo
# Ignore Visual Studio Code settings
.vscode/

# Ignore Python cache files
__pycache__/

# Ignore virtual environment folder
venv/
env/

/instance
/static/uploads

.DS_Store
.env
ca.pem
Oracle_DB/
*.key
*.pem

#local files
document/
!document/
document/*
!document/auth/
document/auth/*
!document/auth/authentication_flow.md
!DOCX/
document.md
excute.md
!DOCX/excute.md
!DOCX/excute_django.md

features/
kt_tuner_logs/
# session notes, local only
changes.md
